/Project/Library/
/Project/Temp/
/Project/Project-csharp.sln
/Project/Project.sln
/Project/Temp
/Project/Library
/Project/Assembly-CSharp-vs.csproj
/Project/Assembly-CSharp.csproj
/Project/Assembly-CSharp.pidb
/Project/Assembly-UnityScript-firstpass-vs.unityproj
/Project/Assembly-UnityScript-firstpass.pidb
/Project/Assembly-UnityScript-firstpass.unityproj
/Project/Assembly-UnityScript-vs.unityproj
/Project/Assembly-UnityScript.pidb
/Project/Assembly-UnityScript.unityproj
/Project/.DS_Store